
body{
	border: 5px;
	border-color: black;
	background-color: #ccccb3;
}

.blackBackground{
	background-color: black;
	text-align: right;
	font-size: 19px;
	margin-top: -10px;
	margin-left: 30px;
	margin-right: 30px;
}

.blackBackground input[type=text] {
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	margin-bottom: 8px;
	font-size: 17px;
}

.blackBackground a.active {
	background-color: #2196F3;
	color: white;
}

.yellowLink {
	color: #ffb31a;
	text-decoration: none;
}

.whiteBackground {
	background-color: white;
	margin-top: -15px;
	margin-left: 30px;
	margin-right: 30px;
}

.blackLink {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

h2 {
	margin-top: -25px;
	margin-left: 15px;
}

.links {
	border: 1px;
	border-color: black;
	border-style: solid;
	color: black;
	float: left;
	padding-top: 15px;
	padding-bottom: 91px;
	padding-left: 15px;
	padding-right: 5px;
	margin-top: -15px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #ffff99;
}

.selected{
	background-color: black;
	border-color: #ffff00;
	border-style: solid;
	border-bottom-width: 5px;
	color: white;
	padding: 15px;
	margin-left: -15px;
	margin-right: -2px;
}

.content {
	position: absolute;
	top: 180px;
	left: 260px;
	background-color: white;
	padding-right: 200px;
	padding-bottom: 13px;
	padding-left: 100px;
	padding-right: 289px;
}

.bottom{
	background-color: black;
	color: white;
	position: absolute;
	top: 785px;
	left: 38px;
	padding-right: 1166px;
}

.info{
	color:white;
	font-size: 30px;
	position: absolute;
	top: 808px;
	left: 500px;
	text-decoration: underline;
}

.contact{
	color:white;
	font-size: 30px;
	position: absolute;
	top: 808px;
	left: 800px;
	text-decoration: underline;
}

.bottomText{
	color: white;
	position: absolute;
	top: 848px;
	left: 800px;
}

.equal {
	color:white;
	font-size: 30px;
	position: absolute;
	top: 808px;
	left: 1100px;
	text-decoration: underline;
}